<div class="jobs-list">
  <div class="row row-cols">
    <div class="col">
      Title: <%= jobs_list.title %>
    </div>
    <div class="col">
      Salary: <%= jobs_list.salary%>
    </div>
    <div class="col">
      <%= jobs_list.position %>
    </div>
  </div>
  <div class="row row-cols">
    <div class="col">
      Description: <%= jobs_list.description %>
    </div>
  </div>
  <div class="row row-cols">
    <div class="col">
      Requirement: <%= jobs_list.requirement %>
    </div>
  </div>
  </br>
</div>
