</br>

<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
      <div>
        <label>Email Address: </label>
        <%= current_user.email %>
      </div>
      <div>
        <label>Full Name: </label>
          <%= current_user.username %>
      </div>

      </br>

      <div class="actions">
        <%= form_for(@user, url: my_path(params[:id])) do |f| %>
          <%= f.submit "Update", class: "btn btn-primary" %>
            <%= f.submit "My Jobs", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

</br>
