<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Dear<%= @apply.username %></h4>
    <p>
      Thank you for applied with VenJob.Your applied job's information is a follow:
    </p>
    </br>
    <!--<dl>
      <dt>Job Title:</dt>
      <dd><%= @job.title %></dd>
      <dt>City:</dt>
      <dd><%= @city.name %></dd>
      <dt>Company:</dt>
      <dd><%= @comapny.name %></dd>
    </dd> -->
    <p>Your submit information:</p>
    </br>
    <dl>
      <dt>First Name:</dt>
      <dd><%= @apply.first_name %></dd>
      <dt>Last Name:</dt>
      <dd><%= @apply.last_name %></dd>
      <dt>Email:</dt>
      <dd><%= @apply.email %></dd>
      <dt>Email:</dt>
      <dd><%= @apply.cv_url %></dd>
    </dd>
    </br>
    <p>Best,</p>
  </body>
</html>
